
.body-container {
    font-family: arial ;
    max-width: 1000px;
    margin: 15px auto;
}
#plot {
    max-height: 150px;
}
#bio {
    max-height: 350px;
}
#actor-img {
    border: 1px;
    max-width: 200px;
    max-height: 300px;
}
#movie-img {
    border: 1px;
    max-width: 200px;
    max-height: 300px;
}
#logo-img {
    max-width: 165px;
}